*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	width: 600px;
	padding: 50px;
	text-align: center;
}
.taskItemsList{
	margin-top: 20px;
}
.taskItem{
	list-style: none;
	display: flex;
/*	flex-direction: column;*/
	flex-direction: row;
	align-items: center;
	text-align: left;
	justify-content: center;
	flex-wrap: wrap;
}
.taskItem__btn{
	width: 200px;
	height: 50px;
	border: 1px solid lightgray;
	border-bottom: 1px solid darkgray;
	background-color: #a7f9f7;
	font-size: 20px;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}
.taskItem__output{
	min-width: 500px;
}
.taskItem__description{
	width: 500px;
	font-style: italic;
	padding: 10px;
	border: 1px solid black;
/*	width: max-content;*/
}
.taskItem__inputData{
	width: 500px;
	padding: 10px;
	border: 1px solid black;
}
.taskItem__result{
	padding: 10px;
	border: 1px solid black;
	width: max-content;
	min-width: 500px;
}
.six_result{
	display: flex;
}
.six_result > div{
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.six_result > div > b{
	color: red;
}
.hide{
	display: none;
}